body{
    background-color: #507687!important;
}

/* img{
    width: 150px;
    height:150px;
} */

.shapeDrums{
    border: 25px solid #384B70,

}

.btn{
    width:200px;
    height: 150px;
    outline: none !important;
    text-align: center;
    border:none !important;
}